<app-new-header-givbux
  [inicio]="true"
  [fin]="false"
  [title]="title | titlecase"
></app-new-header-givbux>

<ion-content fullscreen class="ion-text-center content-light">
  <!-- Container Left Top Absolute Charities Selected -->
  <div class="container-selected-charities">
    <ion-row>
      <ion-col
        size="12"
        *ngFor="let charitySelected of charitiesSelected; trackBy:trackByFn"
      >
        <div class="img-box-selected" *ngIf="charitySelected.name !== 'Other' ">
          <img *ngIf="charitySelected?.image" [src]="charitySelected?.image" />
          <img *ngIf="!charitySelected?.image" [src]="image" />
        </div>
        <ng-container *ngIf="charitySelected.name === 'Other' ">
          <ion-fab-button class="img-box-selected" color="primary"
            >Other
          </ion-fab-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </div>

  <!-- <ion-text color="light">
    <h5>{{title | uppercase}}</h5>
  </ion-text> -->

  <!-- TOP DARK CONTAINER WITH INFO -->
  <div class="padding-top-header-content container-dark">
    <ion-text color="light">
      <h1 class="ion-padding-top ion-no-margin">
        {{ userSesion?.user_nmae | titlecase }}
      </h1>
    </ion-text>

    <ion-text color="primary">
      <h5 class="ion-no-margin" color="primary">
        <small
          ><b
            >DONATION HOLDING BALANCE: {{ (userSesion?.user_balance_give ?
            userSesion.user_balance_give : 0) | currency: 'USD' }}
          </b></small
        >
      </h5>
    </ion-text>

    <!-- GRID NEW PERCENTAGE -->
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="12" class="ion-no-padding ion-text-center">
          <ion-text color="light">
            <h4 class="ion-padding-top ion-no-margin">Percentage to donate</h4>
          </ion-text>
        </ion-col>

        <ion-col size="12">
          <ion-button
            [color]="selectedPercentage[0] ? 'primary' : 'light-primary'"
            fill="solid"
            mode="ios"
            class="btn-number-percentage"
            (click)="this.percentageToDonate = 1;updatePercentage(0)"
          >
            1%
          </ion-button>
          <ion-button
            [color]="selectedPercentage[1] ? 'primary' : 'light-primary'"
            fill="solid"
            mode="ios"
            class="btn-number-percentage"
            (click)="this.percentageToDonate = 5;updatePercentage(1)"
          >
            5%
          </ion-button>
          <ion-button
            [color]="selectedPercentage[2] ? 'primary' : 'light-primary'"
            fill="solid"
            mode="ios"
            class="btn-number-percentage"
            (click)="this.percentageToDonate = 10;updatePercentage(2)"
          >
            10%
          </ion-button>
          <ion-button
            [color]="selectedPercentage[3] ? 'primary' : 'light-primary'"
            fill="solid"
            mode="ios"
            class="btn-number-percentage"
            (click)="this.percentageToDonate = 25;updatePercentage(3)"
          >
            25%
          </ion-button>
          <ion-button
            [color]="selectedPercentage[4] ? 'primary' : 'light-primary'"
            fill="solid"
            mode="ios"
            class="btn-other-percentage"
          >
            <ion-input
              type="number"
              min="1"
              max="100"
              step="1"
              inputmode="numeric"
              class="ion-text-center"
              placeholder="Other"
              maxlength="3"
              [(ngModel)]="this.percentageToDonate"
              (click)="this.percentageToDonate = null ;updatePercentage(4)"
            ></ion-input>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-padding-bottom">
        <ion-col size="12">
          <ion-text color="light" class="fs-text-09">
            <p class="ion-no-margin">
              Select one charity from the list below that you wish to contribute
              a percentage of your purchase rewards to, or search by name or by
              category.
            </p>
          </ion-text>
        </ion-col>

        <ion-col
          class="ion-text-start"
          size="12"
          *ngFor="let charitySelected of charitiesSelected; trackBy:trackByFn"
        >
          <ion-text color="light">
            <p class="mx-0">- {{charitySelected.name | titlecase}}</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- ROW FOR FILTERS SEARCH AND BY CATEGORY -->
      <ion-row class="ion-no-padding">
        <ion-col size="6" class="ion-no-padding">
          <ion-searchbar
            class="search-give"
            placeholder="Search"
            inputmode="search"
            type="text"
            (ionChange)="filterLocal($event)"
            [debounce]="500"
            mode="ios"
            color="light-primary"
          ></ion-searchbar>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item
            lines="none"
            color="dark"
            mode="ios"
            class="item-select-categories"
          >
            <ion-label hidden position="stacked"
              ><span>Categories</span></ion-label
            >
            <ion-select
              class="select-categories"
              [interfaceOptions]="popoverCategories"
              interface="popover"
              placeholder="Categories"
              color="light"
              mode="ios"
              (ionChange)="selectedCategory($event)"
            >
              <ion-select-option [value]="null"
                >All Categories</ion-select-option
              >
              <ion-select-option
                *ngFor="let category of categories"
                [value]="category.id"
                >{{category.name}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- MAIN BODY -->
  <ion-grid class="content-light">
    <ion-row>
      <!-- NgFor Item Charity -->
      <ng-container *ngIf="!loading">
        <ion-text color="medium" *ngIf="!flagQuerySearch" class="full-width">
          <h2 class="ion-no-margin ion-text-start">
            <b>Top 10 Charities</b>
            <ion-icon
              name="help-circle-outline"
              color="primary"
              size="large"
              style="float: right"
              (click)="callAlertInfo()"
            ></ion-icon>
          </h2>
        </ion-text>

        <div
          class="full-width"
          [ngClass]="{'div-border-top': (charities.length > 0)}"
        >
          <ng-container
            *ngFor="let charity of charities ; let i=index ; trackBy:trackByFn"
          >
            <!-- SPACE FOR TOP TEXT MORE CHARITIES -->
            <ion-col size="12" *ngIf="(i == 10 && !flagQuerySearch)">
              <ion-text color="medium">
                <h4 class="ion-no-margin ion-text-start row-more-charities">
                  <b>More Charities</b>
                </h4>
              </ion-text>
            </ion-col>

            <ion-col *ngIf="charity.status" size="12" class="ion-no-padding">

              <ion-row class="ion-no-padding ion-no-margin row-givbux-history">

                <div *ngIf="charity?.selected" class="container-percentage">
                  <span class="border-percentage"
                    ><b
                      >{{calculatePercentageToShow() | number:'1.0-2'}}%</b
                    ></span
                  >
                </div>

                <!-- AVATAR TYPE IMG LEFT -->
                <ion-col size="3" class="ion-align-self-center">
                  <ion-avatar class="avatar-img">
                    <img [src]="charity?.image ? charity?.image : image" />
                  </ion-avatar>
                </ion-col>

                <!-- COL FOR DATA -->
                <ion-col
                  size="9"
                  class="ion-no-padding ion-no-margin ion-text-start"
                >
                  <!-- NEW GRID FOR LAYOUT -->
                  <ion-grid class="ion-no-padding ion-no-margin">
                    <ion-row class="ion-no-padding ion-no-margin">
                      <!-- DATA NAME, DATE, STATUS -->
                      <ion-col size="8" class="ion-no-padding ion-no-margin">
                        <ion-text color="dark">
                          <h5 color="dark" class="ion-no-margin">
                            <b> {{ charity?.name}} </b>
                          </h5>
                          <ion-label class=""> </ion-label>
                        </ion-text>
                      </ion-col>

                      <!-- COL FOR CATEGORY -->
                      <ion-col
                        size="4"
                        class="ion-no-padding ion-no-margin ion-text-center"
                      >
                        <ion-text color="primary">
                          <p color="primary" class="ion-no-margin">
                            <small class="ion-text-end small-category"
                              >Cat: {{charity?.category?.name}}
                            </small>
                          </p>
                        </ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <!-- ROW FOR BUTTONS BOTTOM -->
                  <ion-row class="ion-padding-top">
                    <ion-col size="6" class="ion-no-margin ion-text-center">
                      <ion-button
                        expand="block"
                        fill="solid"
                        mode="ios"
                        size="small"
                        (click)="selectCharityToDonate(i , charity)"
                      >
                      <span *ngIf="charity?.selected">Unselect this Charity</span>
                      <span *ngIf="!charity?.selected">Select this Charity</span>
                      </ion-button>
                    </ion-col>

                    <ion-col size="6" class="ion-no-margin ion-text-center">
                      <ion-button
                        expand="block"
                        fill="solid"
                        mode="ios"
                        size="small"
                        (click)="viewMoreFromCharity(charity)"
                      >
                        Learn More
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <!-- <ion-ripple-effect></ion-ripple-effect> -->
              </ion-row>
            </ion-col>

            <!-- NgFor Item Charity -->
          </ng-container>
        </div>

        <!-- NONE RESULTS FILTERS -->
        <div
          *ngIf="(charities && charities.length == 0)"
          class="div-border-top"
        >
          <ion-row
            class="ion-no-padding ion-no-margin ion-text-center row-givbux-history-padding"
          >
            <ion-text color="medium-givbux" class="ion-text-center">
              <p class="ion-text-center">
                No Organization Has Been Found For This Filter, Please Try Again
              </p>
            </ion-text>
          </ion-row>
        </div>
      </ng-container>

      <!-- LOADING SPINNER -->
      <ng-container *ngIf="loading">
        <ion-col size="12" class="ion-text-center ion-margin-vertical">
          <ion-spinner color="primary"></ion-spinner
          ><span>
            <p color="primary">Loading...</p>
          </span>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <!-- HISTORY BUTTON -->

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="container-fab-history"
  >
    <ion-fab-button
      color="primary"
      class="fab-history"
      [routerLink]="['/user/history']"
      routerLinkActive="router-link-active"
      >History</ion-fab-button
    >
  </ion-fab>
</ion-content>

<ion-footer class="content-light-footer">
  <ion-row>
    <!-- SAVE BUTTON -->

    <ion-col size="6">
      <ion-button
        color="primary"
        class="btn-footer-col"
        mode="ios"
        expand="block"
        [disabled]=" !(percentageToDonate > 0) || !(this.charitiesSelected.length > 0) "
        (click)="setGiveDefaultDonation()"
        >SAVE</ion-button
      >
    </ion-col>

    <!-- Donate From my wallet button -->

    <ion-col size="6">
      <ion-button
        color="primary"
        class="btn-footer-col"
        mode="ios"
        expand="block"
        (click)="showAlertConfirmGivinFromWallet()"
        >DONATE FROM MY WALLET
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
