<!-- MAIN TEXT HEADER WITH ICON RIGHT -->
<app-header-givbux [inicio]=true [fin]=false [regresarApp]=false [regresarApp]=false></app-header-givbux>

<ion-content fullscreen class="ion-text-center ion-padding colorBack">

  <div class="container-selected-charities">
    <ion-row>

      <ion-col size="12" *ngFor="let charitySelected of charitiesSelected; trackBy:trackByFn">
        <div class="img-box-selected" *ngIf="charitySelected.name !== 'Other' ">
          <ion-img *ngIf="charitySelected?.image" [src]="charitySelected?.image"></ion-img>
          <ion-img *ngIf="!charitySelected?.image" [src]="image"></ion-img>
        </div>
        <ng-container *ngIf="charitySelected.name === 'Other' ">
          <ion-fab-button class="img-box-selected" color="primary">Other
          </ion-fab-button>
        </ng-container>
      </ion-col>


    </ion-row>

  </div>

  <!-- fab placed to the top end -->
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed" class="fab-top-selected">    
      <ion-fab-button *ngFor="let charitySelected of charitiesSelected; trackBy:trackByFn" color="primary" class="ion-margin-bottom">
        <div class="img-box-selected" *ngIf="charitySelected.name !== 'Other' ">
          <ion-img *ngIf="charitySelected?.image" [src]="charitySelected?.image"></ion-img>
          <ion-img *ngIf="!charitySelected?.image" [src]="image"></ion-img>
        </div>
        <ng-container *ngIf="charitySelected.name === 'Other' ">
          Other
        </ng-container>
      </ion-fab-button>
    </ion-fab> -->

  <ion-text color="light">
    <h5>{{title | uppercase}}</h5>
  </ion-text>

  <ion-text color="light">
    <h6 class="ion-padding-top">
      DONATION HOLDING BALANCE
      <br />
      <span
        class="font-size-balance">{{ (userSesion?.user_balance_give ? userSesion.user_balance_give : 0) | currency: 'USD'}}</span>
    </h6>
  </ion-text>

  <ion-grid>
    <ion-row class="ion-padding-bottom">
      <ion-col class="ion-text-start" size="12" *ngFor="let charitySelected of charitiesSelected; trackBy:trackByFn">
        <ion-text color="light">
          <p class="mx-0">{{charitySelected.name | titlecase}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- MAIN BODY ROUND GRID -->
  <ion-grid class="roundGrid">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Percentage to donate</ion-label>
          <ion-input type='number' min="1" max="100" step="1" inputmode="numeric" class="ion-text-center"
            [(ngModel)]="percentageToDonate"></ion-input>
          <ion-text color="dark" slot="end" class="ion-align-self-end">%</ion-text>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-text color="primary" class="fs-text-09">
          <p>
            Select one or two charities from the list below that you wish to
            donate your rewards to.
          </p>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-bottom">
          <ion-icon name="help-circle-outline" color="secondary" slot="end" size="large" (click)="callAlertInfo()">
          </ion-icon>
        </ion-item>
      </ion-col>

      <!-- NgFor Item Charity -->
      <ng-container *ngIf="!loading">

        <ion-col *ngFor="let charity of charities ; let i=index ; trackBy:trackByFn" size="4">

          <!-- Charities -->
          <ion-row *ngIf="charity.name !== 'Other' " class="ion-align-items-center"
            (click)="selectCharityToDonate(i , charity)">
            <!-- Col for img  -->
            <ion-col size="12">
              <div class="img-box">
                <ion-img *ngIf="charity?.image" [src]="charity?.image"></ion-img>
                <ion-img *ngIf="!charity?.image" [src]="image"></ion-img>
              </div>
            </ion-col>

            <!-- Name Col -->
            <ion-col size="12" class="ion-margin-top">
              <span class="fs-text-06">{{charity.name | titlecase}}</span>
            </ion-col>

            <!-- Percentage Col -->
            <ion-col class="ion-text-center ion-margin-bottom" size="12">
              <div *ngIf="charity?.selected">
                <span class="border-percentage"><b>{{calculatePercentageToShow() | number:'1.0-2'}}%</b></span>
              </div>
            </ion-col>
          </ion-row>

          <!-- col FAB Button OTHER -->
          <ion-row *ngIf="charity.name === 'Other' ">
            <ion-col size="4">
              <div class="container-fab-other">
                <ion-fab-button class="fab-other" color="primary" (click)="selectCharityToDonate(i , charity)">Other
                </ion-fab-button>
              </div>
            </ion-col>

            <!-- Percentage Col -->
            <ion-col class="ion-text-center ion-margin-bottom" size="12">
              <div *ngIf="charity?.selected">
                <span class="border-percentage"><b>{{calculatePercentageToShow() | number:'1.0-2'}}%</b></span>
              </div>
            </ion-col>

          </ion-row>

        </ion-col>
        <!-- NgFor Item Charity -->

      </ng-container>

      <!-- LOADING SPINNER -->
      <ng-container *ngIf="loading">
        <ion-col size="12" class="ion-text-center ion-margin-vertical">
          <ion-spinner color="primary"></ion-spinner><span>
            <p color="primary">Loading...</p>
          </span>
        </ion-col>
      </ng-container>

      <!-- SAVE BUTTON -->

      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block"
          [disabled]=" !(percentageToDonate > 0) || !(this.charitiesSelected.length > 0) "
          (click)="setGiveDefaultDonation()">SAVE</ion-button>
      </ion-col>

      <!-- Donate From my wallet button -->

      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block" (click)="showAlertConfirmGivinFromWallet()">DONATE FROM
          MY WALLET
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- HISTORY BUTTON -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="container-fab-history">
    <ion-fab-button color="primary" class="fab-history" [routerLink]="['/user/history']"
      routerLinkActive="router-link-active">History</ion-fab-button>
  </ion-fab>

</ion-content>