.header-translucent-ios {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
} /*We need to chech this on build for iOs*/

ion-toolbar {
  --background: var(--ion-color-primary);
  --ion-color-base: var(--ion-color-primary) !important;
  --ion-text-color: white;
  h1 {
    margin-top: 16px;
    margin-bottom: 10px;
  }
}
