<app-new-header-givbux
  [inicio]="true"
  [fin]="false"
  [title]="title | titlecase"
></app-new-header-givbux>

<ion-content fullscreen class="ion-text-center ion-padding content-light">
  <!-- <ion-text color="light">
    <h5 class="ion-padding-vertical">{{title | uppercase}}</h5>
  </ion-text> -->

  <!-- MAIN BODY ROUND GRID -->
  <ion-grid class="padding-top-header-content">
    <ion-row>
      <ion-col size="12">
        <ion-list class="container-light">
          <ion-item
            *ngFor="let item of historical; trackBy:trackByFn"
            color="light"
          >
            <ion-label color="primary">
              <h2><b>{{item.donationreceive.name}}</b></h2>

              <p>
                <span class="color-gray">Amount: </span>
                <span class="color-dark"
                  >{{item.amount | currency:'USD' }} you total Give
                </span>
              </p>
              <p>
                <span class="color-gray">Date: </span>
                <span class="color-dark">{{item.date | date:'medium' }}</span>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
        <!-- NONE RECORDS FOR HISTORY -->
        <div *ngIf="(historical && historical.length == 0)" class="div-border-top">

          <ion-row class="ion-no-padding ion-no-margin ion-text-center row-givbux-history-padding" >
    
            <ion-text color="medium-givbux" class="ion-text-center">
      
              <p class="ion-text-center">
               You Still Don’t Have Any Transaction Logs For This History
              </p>       
      
            </ion-text>
      
          </ion-row>
        </div>
  </ion-grid>
</ion-content>
