<!-- MAIN TEXT HEADER WITH ICON RIGHT -->
<app-header-givbux [inicio]=false [fin]=false [regresarApp]=false></app-header-givbux>

<ion-content fullscreen class="ion-text-center ion-padding colorBack">

  <ion-text color="light">
    <h5 class="ion-padding-vertical">{{title | uppercase}}</h5>
  </ion-text>

  <!-- MAIN BODY ROUND GRID -->
  <ion-grid class="roundGrid grid-margin-top">
    <ion-row class="align-items-center padding-row">

      <ion-col size="12">
        <ion-text color="primary" class="fs-text-09">

          <p *ngIf="donatedTo != '' ">
            You have donated {{ amount | currency: 'USD'}} to
          </p>

          <p *ngIf="donatedTo == '' ">
            You have donated {{ amount | currency: 'USD'}}
          </p>
          
          <h2><b>{{donatedTo | uppercase}}</b></h2>

        </ion-text>
      </ion-col>

      <!-- HANDS IMAGE -->
      <ion-col size="12" class="ion-margin-vertical">
        <div class="container-img-success">
          <img [src]="imageSucces" />
        </div>
      </ion-col>

      <ion-col size="12" class="ion-margin-top">
        <ion-text color="dark" class="fs-text-09">
          <p>
            You have donated successfully!
          </p>
        </ion-text>
      </ion-col>

      <!-- ACCEPT BUTTON -->

      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block" (click)="goHome()">ACCEPT</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-content>