<app-new-header-givbux
  [inicio]="false"
  [fin]="false"
  [regresarApp]="true"
  title="GIVE"
></app-new-header-givbux>

<ion-content [fullscreen]="true" class="ion-text-center ion-padding content-dark">
   <!-- CONTAINER PUSH NEEDED FOR HEADER -->
   <div class="padding-top-header-content"></div>
   
  <ion-grid class="content-dark">
    <ion-row class="align-items-center padding-row">
      <ion-col size="12">
        <ion-text color="light">
          <h5>
            Thank you for complete your GivBux "Give" process.
            <br />
            This session has ended.
            <br />
            <br />
            To close this window, please press the top left button of the
            browser.
          </h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
