/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.imageBack {
  --background: url(/assets/img/back.png) no-repeat 52% center/cover;
  --background-color: var(--ion-color-primary);
}

.colorBack {
  --background: linear-gradient(to bottom, var(--ion-color-primary) 45%, white 1%);
}

.roundGrid {
  background-color: var(--ion-color-light) !important;
  border-radius: 20px;
  min-height: 300px;
}

.borderSelectedCharity {
  border: 2px solid var(--ion-color-primary);
}

// Some loading basic styles
.loading-wrapper {
  --spinner-color: var(--ion-color-primary);
}

// Some alert basic styles
.alert-wrapper {
  .alert-button.sc-ion-alert-ios:first-child {
    font-weight: 700;
  }
  .alert-button.sc-ion-alert-ios:last-child {
    font-weight: 400;
    color: var(---ion-color-medium);
  }
  .alert-button.sc-ion-alert-md:first-child {
    font-weight: 700;
  }
  .alert-button.sc-ion-alert-md:last-child {
    color: var(---ion-color-medium);
  }
  .alert-title {
    color: var(--ion-color-primary) !important;
    text-align: center;
  }

  .alert-sub-title {
    color: var(--ion-color-dark) !important;
    text-align: center;
  }

  .alert-message {
    color: var(--ion-color-danger) !important;
    text-align: center;
  }
  .alert-input {
    text-align: center;
  }
}

// SIZE FOR ICONS

.font-size-icon-1 {
  font-size: 1em;
}
.font-size-icon-2 {
  font-size: 2em;
}
.font-size-icon-3 {
  font-size: 3em;
}

// SIZE FOR TEXT

.fs-text-06 {
  font-size: 1em;
}
.fs-text-07 {
  font-size: 1.1em;
}
.fs-text-08 {
  font-size: 1.2em;
}
.fs-text-09 {
  font-size: 1.3em;
}
.fs-text-10 {
  font-size: 1.4em;
}
.fs-text-11 {
  font-size: 1.5em;
}
.fs-text-12 {
  font-size: 1.6em;
}

@media (max-width: 991px) {
  .fs-text-06 {
    font-size: 0.6em;
  }
  .fs-text-07 {
    font-size: 0.7em;
  }
  .fs-text-08 {
    font-size: 0.8em;
  }
  .fs-text-09 {
    font-size: 0.9em;
  }
  .fs-text-10 {
    font-size: 1em;
  }
  .fs-text-11 {
    font-size: 1.1em;
  }
  .fs-text-12 {
    font-size: 1.2em;
  }
}

.mx-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.px-0 {
  padding-top: 0;
  padding-bottom: 0;
}
