<app-new-header-givbux
  [inicio]="true"
  [fin]="false"
  [regresarApp]="true"
  title="GIVE"
></app-new-header-givbux>

<ion-content fullscreen class="ion-text-center ion-padding content-dark">
  <!-- CONTAINER PUSH NEEDED FOR HEADER -->
  <div class="padding-top-header-content"></div>

  <!-- <ion-text color="light">
    <h5 class="ion-padding-vertical">{{title | uppercase}}</h5>
  </ion-text> -->

  <ion-text color="light" *ngIf="tokenValid && !loading">
    <h1 class="ion-padding-top ion-no-margin">
      {{ userSesion?.user_nmae | titlecase }}
    </h1>
  </ion-text>

  <ion-text color="primary" *ngIf="tokenValid && !loading">
    <h5 class="ion-no-margin" color="primary">
      <small
        ><b
          >DONATION HOLDING BALANCE: {{ (userSesion?.user_balance_give ?
          userSesion.user_balance_give : 0) | currency: 'USD' }}
        </b></small
      >
    </h5>
  </ion-text>

  <!-- MAIN BODY ROUND GRID WITH TOKEN VALID -->
  <ion-grid *ngIf="tokenValid && !loading" class="">
    <ion-row class="align-items-center">
      <!-- AUTOMATIC DONATION BUTTON -->

      <!-- HELP ICON -->
      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-top" color="dark">
          <ion-icon
            name="help-circle-outline"
            color="light"
            slot="end"
            size="large"
            (click)="callAlertInfo(1)"
          ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" offset="0">
        <ion-button
          expand="block"
          mode="ios"
          [routerLink]="['/user/donate-automatic']"
          class="btn-thumbnail-page-givbux"
        >
          <ion-grid
            class="ion-no-padding ion-no-margin ion-justify-content-center"
          >
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col
                size="2"
                class="ion-no-padding ion-no-margin ion-align-self-center"
              >
                <ion-thumbnail class="thumbnail-img">
                  <img src="/assets/img/home/icon-set-automatic.svg" />
                </ion-thumbnail>
              </ion-col>
              <ion-col
                size="10"
                class="ion-no-padding ion-no-margin ion-align-self-center"
              >
              SET YOUR DONATION <br />
              PERCENTAGE
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item color="dark">
          <ion-text class="ion-text-center">
            <h6 class="ion-no-margin">
              Select one or two charities from the list to receive your donations.
            </h6>
          </ion-text>
        </ion-item>
      </ion-col>

      <!-- DIRECTLY DONATION BUTTON -->

      <!-- HELP ICON -->
      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-top" color="dark">
          <ion-icon
            name="help-circle-outline"
            color="light"
            slot="end"
            size="large"
            (click)="callAlertInfo(2)"
          ></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" offset="0">
        <ion-button
          expand="block"
          mode="ios"
          [routerLink]="['/user/donate-directly']"
          class="btn-thumbnail-page-givbux"
        >
          <ion-grid
            class="ion-no-padding ion-no-margin ion-justify-content-center"
          >
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col
                size="2"
                class="ion-no-padding ion-no-margin ion-align-self-center"
              >
                <ion-thumbnail class="thumbnail-img">
                  <img src="/assets/img/home/icon-donate-directly.svg" />
                </ion-thumbnail>
              </ion-col>
              <ion-col
                size="10"
                class="ion-no-padding ion-no-margin ion-align-self-center"
              >
                DONATE DIRECTLY <br />
                TO A CHARITY
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item color="dark">
          <ion-text class="ion-text-center">
            <h6 class="ion-no-margin">
              This option will deduct the amount selected from your Donation Holdings Balance.
            </h6>
          </ion-text>
        </ion-item>
      </ion-col>

      <!-- TRANSFER FROM  MY WALLET BUTTON -->

      <!-- HELP ICON -->
      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-top" color="dark">
          <ion-icon
            name="help-circle-outline"
            color="light"
            slot="end"
            size="large"
            (click)="callAlertInfo(3)"
          ></ion-icon>
        </ion-item>
      </ion-col>


      <ion-col size="12" offset="0">
        <ion-button
          expand="block"
          mode="ios"
          (click)="showAlertConfirmGivinFromWallet()"
          class="btn-thumbnail-page-givbux"
        >
          <ion-grid
            class="ion-no-padding ion-no-margin ion-justify-content-center"
          >
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col
                size="2"
                class="ion-no-padding ion-no-margin ion-align-self-center"
              >
                <ion-thumbnail class="thumbnail-img">
                  <img src="/assets/img/home/icon-donate-from-wallet.svg" />
                </ion-thumbnail>
              </ion-col>
              <ion-col
                size="10"
                class="ion-no-padding ion-no-margin ion-align-self-center"
              >
              TRANSFER FROM <br /> 
              MY WALLET            
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item color="dark">
          <ion-text class="ion-text-center">
            <h6 class="ion-no-margin">
              This option will transfer the specified amount from your shop
              balance over to your donations holding balance.
            </h6>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- GRID INVALIDATE -->

  <ion-grid *ngIf="!tokenValid && !loading" class="content-dark">
    <ion-row class="align-items-center padding-row">
      <ion-col size="12">
        <ion-text color="light">
          <h5>
            Either your session has expired, or there was an invalid entry.
            <br />
            Please try again.
          </h5>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-button
          color="primary"
          mode="ios"
          expand="block"
          (click)="this._utils.returnToApp()"
          >BACK</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- GRID LOADING -->

  <ion-grid *ngIf="loading" class="content-dark">
    <ion-row class="align-items-center padding-row"> </ion-row>
  </ion-grid>
</ion-content>
