<ion-content fullscreen class="ion-text-center ion-padding colorBack">

  <!-- MAIN TEXT HEADER WITH ICON RIGHT -->
  <app-header-givbux [inicio]=false [fin]=false></app-header-givbux>

  <ion-text color="light">
    <h5 class="ion-padding-vertical">{{title | uppercase}}</h5>
  </ion-text>

  <ion-text color="light">
    <h6 class="ion-padding-bottom">
      DONATION HOLDING BALANCE <br />
      <span class="font-size-balance">{{ (userSesion?.user_balance_give ? userSesion.user_balance_give : 0) | currency: 'USD' }}</span>
    </h6>
  </ion-text>

  <!-- MAIN BODY ROUND GRID WITH TOKEN VALID -->
  <ion-grid *ngIf="tokenValid && !loading" class="roundGrid">
    <ion-row class="align-items-center padding-row">

      <!-- AUTOMATIC DONATION BUTTON -->

      <!-- HELP ICON -->
      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-top">
          <ion-icon name="help-circle-outline" color="secondary" slot="end" size="large"></ion-icon>
        </ion-item>
      </ion-col>


      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block" [routerLink]="['/donate-automatic']"
          routerLinkActive="router-link-active">SET YOUR % DONATION AUTOMATIC</ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-text color="primary" class="ion-text-center">
            <h6>Select one or two charities from the list below that you wish to donate your rewards to.</h6>
          </ion-text>
        </ion-item>
      </ion-col>


      <!-- DIRECTLY DONATION BUTTON -->

      <!-- HELP ICON -->
      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-top">
          <ion-icon name="help-circle-outline" color="secondary" slot="end" size="large"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block" [routerLink]="['/donate-directly']"
          routerLinkActive="router-link-active">DONATE DIRECTLY TO A CHARITY</ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-text color="dark" class="ion-text-center">
            <h6>This option will deduct the amount selected from your donation holding balance.</h6>
          </ion-text>
        </ion-item>
      </ion-col>


      <!-- DONATE FROM MY WALLET BUTTON -->

      <!-- HELP ICON -->
      <ion-col size="12">
        <ion-item lines="none" class="item-icon-help-top">
          <ion-icon name="help-circle-outline" color="secondary" slot="end" size="large"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block" (click)="showAlertConfirmGivin()">DONATE FROM MY WALLET</ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-text color="dark" class="ion-text-center">
            <h6>This option will recharge the amount from your donation holding balance.</h6>
          </ion-text>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!-- GRID INVALIDATE -->

  <ion-grid *ngIf="!tokenValid && !loading" class="roundGrid">
    <ion-row class="align-items-center padding-row">

     
      <ion-col size="12">

        <ion-text color="primary">
          <h5>Your session has expired please or invalid token
            <br>
            Please try again from Givbux App.
          </h5>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-button color="primary" shape="round" expand="block" (click)="this._utils.returnToApp()">BACK</ion-button>
      </ion-col>


    </ion-row>
  </ion-grid>


  <!-- GRID LOADING -->

  <ion-grid *ngIf="loading" class="roundGrid">
    <ion-row class="align-items-center padding-row">
    </ion-row>
  </ion-grid>


</ion-content>